<!DOCTYPE html>
<html lang="en">
<head>
    <link href="style.css" rel="stylesheet"/>
    <title></title>
</head>
<body>
    <div class="main">
        <div class="row1">Welcome to RK Technology</div>
        <div>
            <div class="row2c1" style="background-color: lightgreen;">Home</div>
            <div class="row2c1">About</div>
            <div class="row2c1">Services</div>
            <div class="row2c1">Gallary</div>
            <div class="row2c1">Contact</div>
        </div>
        <div class="row3">
            <div class="row3c1">
                <div class="row3c2r">Home</div>
                <div class="row3c2r">About</div>
                <div class="row3c2r">Services</div>
                <div class="row3c2r">Gallary</div>
                <div  class="row3c2r">Contact</div>
            </div>
            <div class="row3c2">
                <img src="image/a.png" width="600" height="200" title="ai" alt="artificial"/>
            </div>
        </div>
    </div>
</body>
</html>