.main{
    width: 1000px;
    height: 540px;
    font-size: 16px;
    background-color: rebeccapurple;
    font-family: Arial;
    background: url(image/1.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
/* 1em = 16px */
.row1{
    width: 1000;
    height: 70px;
    color: F5EDED;
    font-size: 1em;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    text-transform: capitalize;

    padding-top: 30px;
    background-color: rgb(198, 87, 23);
    text-shadow: 0px 0px 5px white;
    /*box-shadow: 0px 0px 5px 2px white;*/
}
.row2{
    width: 1000px;
    height: 60px;
    display: flex;
    margin: auto;
    text-align: center;

}
.row2c1{
    width: 500px;  /*this property will not work until flex-wrap : wrap not give to parent */
    height: 30px;
    background-color: rgb(36, 120, 59);
    float: left;
     padding-top: 20px;
     margin: 0px 0px 0px 30px; /* apply the gap in box*/
}
.row3{
    width: 1000px;
    height: 200px;
    background-color: rgb(86, 47, 141);
    display :flex;


}

.row3c1{
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: rgb(162, 33, 33);
    display :flex; /*aling karna*/
    gap: 10px; /*flex k case me gap maintaine karta hai boxes k bich*/
    flex-direction: column; /*list column me aa jayege */
    justify-content: flex-end; /*bottom pr cjipak k rahega or row k case me left se chipak k rahega*/


}
.row3c2r{
    width: 400px;
    height: 30px;
    background-color: rgb(10, 100, 77);
    box-shadow: 0px 0px 5px 2px white; /*inset  for inside shadow*/
    margin: 5px 0px 0px 0px; /*for gap from top*/

}
.row3c2{
    width: 600px;
    height: 200px;
    background-color: rgb(6, 153, 77);
    float: left;
}